[submodule "common"]
	path = common
	url = ../common-port
[submodule "base"]
	path = base
	url = ../base-port-macos
[submodule "graphics"]
	path = graphics
	url = ../graphics-port
	branch = main
[submodule "user-generation1"]
	path = user-generation1
	url = ../../cpp-port/user-generation1
	branch = main
[submodule "graphics3d"]
	path = graphics3d
	url = ../macos-lowland-port-graphics3d
	branch = main
